In [1]:
import pandas as pd
import numpy as np
from finance_byu.summarize import summary
import statsmodels.formula.api as smf
from finance_byu.regtables import Regtable

In [2]:
df = pd.read_csv("../crsp_daily_cut.csv", index_col=0)
df.head(5)

,permno,caldt,shrcd,excd,siccd,prc,ret,vol,shr
109545,10026,2023-01-05,11,3,2052,149.60,-0.010713,60472.0,19229.0
109546,10026,2023-01-06,11,3,2052,152.64,0.020321,57034.0,19229.0
109547,10026,2023-01-09,11,3,2052,149.61,-0.019851,63214.0,19229.0
109548,10026,2023-01-10,11,3,2052,149.87,0.001738,112759.0,19229.0
109549,10026,2023-01-11,11,3,2052,152.39,0.016815,57350.0,19229.0

In [4]:
df['prclag'] = df.groupby('permno')['prc'].shift()
df.head(5)

,permno,caldt,shrcd,excd,siccd,prc,ret,vol,shr,prclag
109545,10026,2023-01-05,11,3,2052,149.60,-0.010713,60472.0,19229.0,NaN
109546,10026,2023-01-06,11,3,2052,152.64,0.020321,57034.0,19229.0,149.60
109547,10026,2023-01-09,11,3,2052,149.61,-0.019851,63214.0,19229.0,152.64
109548,10026,2023-01-10,11,3,2052,149.87,0.001738,112759.0,19229.0,149.61
109549,10026,2023-01-11,11,3,2052,152.39,0.016815,57350.0,19229.0,149.87

In [5]:
df = df.query("prclag >= 5").reset_index(drop=True)
df.head(5)

,permno,caldt,shrcd,excd,siccd,prc,ret,vol,shr,prclag
0,10026,2023-01-06,11,3,2052,152.64,0.020321,57034.0,19229.0,149.60
1,10026,2023-01-09,11,3,2052,149.61,-0.019851,63214.0,19229.0,152.64
2,10026,2023-01-10,11,3,2052,149.87,0.001738,112759.0,19229.0,149.61
3,10026,2023-01-11,11,3,2052,152.39,0.016815,57350.0,19229.0,149.87
4,10026,2023-01-12,11,3,2052,152.43,0.000262,70931.0,19229.0,152.39

ID = sgn(PRET) X [ %neg - %pos ] <br>
PRET = last 12 month return ignoring the most recent month<br><br>
Large ID = Discrete Information<br>
Small ID = Continuous Information